body {
  width: 100%;
  background-image:url('../img/wavegrid.png');
}

#board {
  margin: 10px auto;
  width:50%;
  float:left;
  height:100%;
}
#controls {
    float:right;
    width:49%;
    height:100%;
    color:#000;
}
#message {
    text-align: center;
    font-size: 100px;
}

.heading {
  text-align: center;
  font-family: 'Finger Paint', cursive;
  font-size: 50px;
}

table {
  margin: 0px auto;
}

.box_cell {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  opacity: .75;
  box-shadow: 2px 2px 0px #888888
}

.box_cell:hover{
  background-color: #aaa;
}

.red, .red:hover{
  background-color: red !important;
}

.blue, .blue:hover{
  background-color: blue !important;
}
